build/
.gradle/
*.class
*.jar
*.war
*.ear
.idea/
*.iml
*.ipr
*.iws
out/
.settings/
.project
.classpath
bin/
.DS_Store
*.log
hs_err_pid*

# Angular
onehealth-ui/node_modules/
onehealth-ui/dist/
onehealth-ui/.angular/
onehealth-ui/.vscode/
